{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier"
  ],
  
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": false
    },
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "browser": false,
    "node": true
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  }
}